.list{
    height: 100%;
    display: grid;
    padding: 20px 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 12px;
    overflow-y: scroll;
    .image{
        width: fit-content;
        height: fit-content;
        padding: 10px 0px;
    }
}

@media screen and (max-width: 768px){
    .list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
}

